<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collaboportal.common.login.mapper.LoginMapper">

    <select id="findUserByEmail" resultType="com.collaboportal.common.login.model.DTO.UserMasterEPL">
        SELECT							
            I_USER_TYPE as userType,
            I_USER_MAIL as userMail,
            I_PASSWORD as password,
            I_USER_ID as userId
        FROM
            shohomoto_info.RIYOUSHA_MASTER
        WHERE
            I_USER_MAIL = #{userMail} 					
    </select>

</mapper>
