<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collaboportal.shoho.repository.PrescriptionListSearchMapper">

    <!-- 処方元情報を取得します. -->
    <select
        id="refer"
        parameterType="com.collaboportal.shoho.model.PrescriptionListSearchRequestParameter"
        resultType="com.collaboportal.shoho.entity.PrescriptionListSearch">
        SELECT
            TSI.I_KIKAKU_ID      AS SHM_KKK_COD,
            MK.I_KIKAKU_MEI      AS SHM_KKK_NM,
            MS.I_KSH_NO,
            MS.I_SZK_BNO_KHS,
            RTRIM(MS.I_BU_MEI)   AS SHM_EGB_NM,
            RTRIM(MS.I_STN_MEI)  AS SHM_STN_NM,
            MS.I_KA_MEI          AS SHM_KA_NM,
            MS.I_SYN_MEI_KJ      AS SHM_TTS_NM,
            TSI.I_DPY_BNO        AS SHM_DPY_BNO,
            TSI.I_DPY_KNO_GB     AS SHM_DPY_KNO_GB,
            TSI.I_DPY_NO         AS SHM_DPY_NO,
            TSI.I_DPY_LNO        AS SHM_DPY_RNO,
            TSI.I_NB_SYHCD_NEW,
            FORMAT(CAST(TSI.I_URIAGE_YMD as date), 'yyyy/MM/dd') as SHM_URG_YMD,
            TSI.I_HBM_COD,
            TSI.I_HBM_NAME       AS SHM_HBM_NM,
            CONCAT(RTRIM(LTRIM(TSI.I_SYH_MEI_KNKJ)), ' ' ,RTRIM(LTRIM(TSI.I_SYH_KKK_YRY_MEI_KNKJ)), '（' ,RTRIM(LTRIM(TSI.I_JAN_COD)), '）') as shm_syh_kkk_yry_nm,
            TSI.I_TOK_COD        AS SHM_NHN_COD,
            TSI.I_TOK_RYK_MEI_KJ AS SHM_NHN_NM,
            TSI.I_HNB_NUM        AS SHM_HNB_NM,
            TSI.I_DCF_COD        AS SHM_DCF_COD,
            TSI.I_SST_RYAKU_NAME AS SHM_NM,
            CASE
                WHEN TSI.I_FUMEI_KBN &amp; 4 != 0 THEN '不明'
                ELSE TSI.I_DR
            END                  AS SHM_DR_NM,
            MMT.I_MR_M           AS SHM_MAIL_ADR_MR,
            FORMAT(TSI.I_KKN_YMD, 'yyyy/MM/dd') as shm_kkn_ymd,
            CASE
                WHEN TSI.I_NRK_YMD IS NULL THEN 0
                WHEN (TSI.I_NRK_YMD = TSI.I_LAST_NRK_YMD)
                AND (TSI.I_FUMEI_KBN &amp; 1 <![CDATA[<=]]> 0) THEN 1
                WHEN (TSI.I_NRK_YMD = TSI.I_LAST_NRK_YMD)
                AND (TSI.I_FUMEI_KBN &amp; 1 <![CDATA[>]]>0) THEN 2
                WHEN (TSI.I_NRK_YMD <![CDATA[<>]]> TSI.I_LAST_NRK_YMD)
                AND (TSI.I_FUMEI_KBN &amp; 1 <![CDATA[<=]]> 0) THEN 3
                WHEN (TSI.I_NRK_YMD <![CDATA[<>]]> TSI.I_LAST_NRK_YMD)
                AND (TSI.I_FUMEI_KBN &amp; 1 <![CDATA[>]]>0) THEN 4
            END as shm_stat_cod,
            FORMAT(TSI.I_NRK_YMD, 'yyyy/MM/dd HH:mm') as shm_nrk_ymd,
            CASE
                WHEN TSI.I_NRK_YMD = TSI.I_LAST_NRK_YMD THEN null
                ELSE FORMAT(TSI.I_LAST_NRK_YMD, 'yyyy/MM/dd HH:mm') 
            END as shm_ksn_ymd,
            COUNT(*) OVER() AS ALL_SU
        FROM
            [shohomoto_info].TR_SHOHOMOTO_INF TSI 
            INNER JOIN [nouki_zaiko].MS_AMTDT_TOK MAT 
                ON TSI.I_TOK_COD = MAT.I_TOK_COD 
            INNER JOIN [nouki_zaiko].MS_SYN MS 
                ON MAT.I_EGY_TTS_ID_NEW = MS.I_USR_ID 
            INNER JOIN [shohomoto_info].MS_KIKAKU MK 
                ON TSI.I_KIKAKU_ID = MK.I_KIKAKU_ID 
            INNER JOIN [shohomoto_info].MS_MR_TANTOU MMT 
                ON TSI.I_KIKAKU_ID = MMT.I_KIKAKU_ID 
                AND TSI.I_DCF_COD = MMT.I_SCD
        <where>
            <if test="kkk_cod">AND TSI.I_KIKAKU_ID = #{kkk_cod}</if>
            <if test="urg_ymd_stt">AND TSI.I_URIAGE_YMD &gt;= #{urg_ymd_stt}</if>
            <if test="urg_ymd_end">AND TSI.I_URIAGE_YMD &lt;= #{urg_ymd_end}</if>
            <if test='jwtObject.honbuFlg eq "0"'>
                <!-- MR担当. -->
                <if test="dcf_cod">AND TSI.I_DCF_COD = #{dcf_cod}</if>
                AND MMT.I_MR_M = #{jwtObject.email}
            </if>
            <if test='jwtObject.honbuFlg eq "1"'>
                <!-- 本部. -->
                <if test="dcf_cod">AND TSI.I_DCF_COD LIKE CONCAT('%', #{dcf_cod}, '%')</if>
                AND TSI.I_NRK_YMD IS NOT NULL
                AND TSI.I_FUMEI_KBN % 2 = 0
            </if>
        </where>
        ORDER BY 
            SHM_KKK_COD ASC, 
            SHM_DCF_COD ASC,
            I_KSH_NO ASC, 
            I_SZK_BNO_KHS ASC, 
            SHM_URG_YMD ASC, 
            I_HBM_COD ASC, 
            I_NB_SYHCD_NEW ASC, 
            SHM_NHN_COD ASC, 
            SHM_NRK_YMD ASC, 
            SHM_DPY_NO ASC 
        OFFSET #{offset} - 1 ROWS FETCH NEXT #{limit} ROWS ONLY;
    </select>

    <!-- 処方医入力否数フラグを取得します. -->
    <select
        id="fetchFlag" 
        resultType="int"
        parameterType="com.collaboportal.shoho.model.PrescriptionListSearchRequestParameter">
        SELECT
            CASE 
                WHEN EXISTS ( 
                    SELECT
                        1 
                    FROM
                        [shohomoto_info].TR_SHOHOMOTO_INF TSI 
                        INNER JOIN [shohomoto_info].MS_KIKAKU MK 
                            ON TSI.I_KIKAKU_ID = MK.I_KIKAKU_ID 
                        INNER JOIN [shohomoto_info].MS_MR_TANTOU MMT 
                            ON TSI.I_KIKAKU_ID = MMT.I_KIKAKU_ID 
                            AND TSI.I_DCF_COD = MMT.I_SCD 
                    <where>
                        MK.I_DRINPUT_FG = '0'
                        <if test="kkk_cod">AND TSI.I_KIKAKU_ID = #{kkk_cod}</if>
                        <if test="urg_ymd_stt">AND TSI.I_URIAGE_YMD &gt;= #{urg_ymd_stt}</if>
                        <if test="urg_ymd_end">AND TSI.I_URIAGE_YMD &lt;= #{urg_ymd_end}</if>
                        <if test='jwtObject.honbuFlg eq "0"'>
                            <!-- MR担当. -->
                            <if test="dcf_cod">AND TSI.I_DCF_COD = #{dcf_cod}</if>
                            AND MMT.I_MR_M = #{jwtObject.email}
                        </if>
                        <if test='jwtObject.honbuFlg eq "1"'>
                            <!-- 本部. -->
                            <if test="dcf_cod">AND TSI.I_DCF_COD LIKE CONCAT('%', #{dcf_cod}, '%')</if>
                            AND TSI.I_NRK_YMD IS NOT NULL
                            AND TSI.I_FUMEI_KBN % 2 = 0
                        </if>
                    </where>
                ) 
                    THEN 1 
                ELSE 0 
                END;
    </select>
</mapper>