<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collaboportal.shoho.repository.SectionMapper">
    <select id="getSections" resultType="com.collaboportal.shoho.entity.Section">
        SELECT 
            I_KNO_GB AS ka_cod,
            I_KA_MEI_KJ AS ka_nm 
        FROM
            nouki_zaiko.MS_AMKDT_SSK 
        WHERE
            I_KSH_NO = #{ksh_cod}
            AND I_BNO = #{bu_cod}
            AND I_STN_NO_GB = #{stn_cod}
        ORDER BY
            I_KNO_GB ASC
    </select>
</mapper>